<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/jquery-v3.6.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="username">
        <hr>
        <input type="text" v-model="userBigName">
    </div>

    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                username: '',
                userBigName: 'admin'
            },
            watch: {
                // 函数监听器，监听哪个属性，方法名就是那个属性名
                // 第一个是新值，第二个是旧值
                // 缺点：页面初始化时没法自动触发
                username(newV, oldV) {
                    console.log(newV, oldV);
                    $.get('https://www.escook.cn/api/finduser/'+newV, function(res){
                        console.log(res);
                        console.log($);
                    })
                },
                // 对象侦听器，侦听哪个属性，key值就设置成哪个属性名
                // 优点：通过设置immediate为true, 可以在页面加载时，默认执行一次调用
                userBigName: {
                    handler(newV, oldV) {
                        console.log(newV, oldV);
                        $.get('https://www.escook.cn/api/finduser/'+newV, function(res){
                        console.log(res);
                        console.log($);
                    })
                    },
                    immediate: true
                }
            }
        })
    </script>
    
</body>
</html>