<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 双向绑定指令 -->
        <p>用户名：{{ username }}</p>
        <input type="text" v-model="username">
        <hr>
        <input type="text" :value="username">
        <hr>

        <select v-model="city">
            <option value="0">请选择城市</option>
            <option value="1">北京</option>
            <option value="2">上海</option>
            <option value="3">广州</option>
        </select>
        <hr>

        <!-- v-model双向绑定修饰符 -->
        <input type="text" v-model="num1"> + <input type="text" v-model ="num2"> = <span>{{ num1 + num2}}</span>
        <hr>
        <input type="text" v-model.number="num1"> + <input type="text" v-model.number ="num2"> = <span>{{ num1 + num2}}</span>
        <hr>
        <input type="text" v-model.trim="username">
        <hr>
        <!-- 当点击enter时才更新，而不每次修改都更新 -->
        <input type="text" v-model.lazy="username">

    </div>

    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                username: '',
                city: '0',
                num1: 1,
                num2: 1

            }
        })

    </script>
    
</body>
</html>